#Configuration file for adding microblock materials for aesthetic blocks added by mods
#Each line needs to be of the form <name>:<meta>
#<name> is the unlocalised name or registry key of the block/item enclosed in quotes. NEI can help you find these
#<meta> may be ommitted, in which case it defaults to 0, otherwise it can be a number, a comma separated list of numbers, or a dash separated range
#Ex. "dirt" "minecraft:planks":3 "iron_ore":1,2,3,5 "ThermalFoundation:Storage":0-15

# Et Futurum
"etfuturum:deepslate"
"etfuturum:deepslate_bricks":0-4
"etfuturum:polished_deepslate"
"etfuturum:smooth_quartz"
"etfuturum:quartz_bricks"
"etfuturum:concrete":0-15
"etfuturum:bark":0-3

# Underground Biomes
"UndergroundBiomes:igneousStone":0-7
"UndergroundBiomes:igneousCobblestone":0-7
"UndergroundBiomes:igneousStoneBricks":0-7
"UndergroundBiomes:metamorphicCobblestone":0-7
"UndergroundBiomes:metamorphicStone":0-7

# APPLIED ENERGISTICS 2
"appliedenergistics2:tile.BlockQuartz"
"appliedenergistics2:tile.BlockQuartzPillar"
"appliedenergistics2:tile.BlockQuartzChiseled"
"appliedenergistics2:tile.BlockQuartzGlass"
"appliedenergistics2:tile.BlockQuartzLamp"
"appliedenergistics2:tile.BlockFluix"

# BIOMES O PLENTY
"BiomesOPlenty:driedDirt"
"BiomesOPlenty:rocks":0-5
"BiomesOPlenty:ash"
"BiomesOPlenty:flesh"
"BiomesOPlenty:ashStone"
"BiomesOPlenty:hardIce"
"BiomesOPlenty:originGrass"
"BiomesOPlenty:longGrass"
"BiomesOPlenty:overgrownNetherrack"
"BiomesOPlenty:bopGrass":0-1
"BiomesOPlenty:newBopGrass":0-2
"BiomesOPlenty:newBopDirt":0-5
"BiomesOPlenty:logs1":0-3
"BiomesOPlenty:logs2":0-3
"BiomesOPlenty:logs3":0-3
"BiomesOPlenty:logs4":0-3
"BiomesOPlenty:leaves1":0-3
"BiomesOPlenty:leaves2"
"BiomesOPlenty:leaves3":0-3
"BiomesOPlenty:leaves4":0-3
"BiomesOPlenty:hardSand"
"BiomesOPlenty:hardDirt"
"BiomesOPlenty:cragRock"
"BiomesOPlenty:honeyBlock"
"BiomesOPlenty:planks":0-14

# DRACONIC EVOLUTION
"DraconicEvolution:draconium":0-2
"DraconicEvolution:draconicBlock"
"DraconicEvolution:infusedObsidian"

# ENDER IO
"EnderIO:blockReinforcedObsidian"
"EnderIO:blockIngotStorage":0-7

# EXTRA UTILITIES
"ExtraUtilities:block_bedrockium"

# FORESTRY
"Forestry:resourceStorage":0-3
"Forestry:logs":0-28
"Forestry:planks":0-28
"Forestry:logsFireproof":0-28
"Forestry:planksFireproof":0-28
"Forestry:leaves"

# MINECRAFT
"minecraft:double_stone_slab":0,8
"minecraft:hay_block"

# NATURA
"Natura:soil.tainted":0-2
"Natura:heatsand"
"Natura:blueGlowshroom"
"Natura:purpleGlowshroom"
"Natura:greenGlowshroom"
"Natura:Obelisk"
"Natura:GrassBlock":0-2

# PAM'S HARVEST THE NETHER
"harvestthenether:netherLog"
"harvestthenether:netherLeaves"
"harvestthenether:netherPlanks"

# TINKER'S CONSTRUCT
"Tconstruct:MeatBlock"
"Tconstruct:slime.leaves"
"Tconstruct:decoration.multibrickmetal":0-7
"Tconstruct:decoration.multibrickfancy":0-15
"Tconstruct:decoration.multibrick":0-13
"Tconstruct:SpeedBlock":0-6