# Configuration file

dimension0 {
    S:biomeCommands=allow:*;
    I:dimension_ID=2
    B:isFullOverworld=false
    S:name=Otherlands
    S:worldType=MWmultiBiome
}


dimension1 {
    S:biomeCommands=allow:*;
    I:dimension_ID=3
    B:isFullOverworld=false
    S:name=Filia
    S:worldType=BIOMESOP
}


dimension2 {
    S:biomeCommands=allow:*;
    I:dimension_ID=4
    B:isFullOverworld=true
    S:name=Selchemet
    S:worldType=BIOMESOP
}


dimension3 {
    S:biomeCommands=allow:*;
    I:dimension_ID=50
    B:isFullOverworld=false
    S:name=Gronkhs Pixelbude
    S:worldType=default
}


dimension4 {
    S:biomeCommands=allow:8;
    I:dimension_ID=51
    B:isFullOverworld=false
    S:name=Gronkhs Pixelbude Nether
    S:worldType=default
}


general {
    I:options.dimensions=5
    I:options.providerId=21
}


world {
    S:defaultBiomeCommands=allow:*;
    I:worldTypeMW=7
}


