# Configuration file

general {
    # Degrees per RF per tick that the rotor rotates by
    D:AngularVelocityPerRF=0.5

    # Use the iron rotor texture regardless of the rotor material
    B:ForceIronRotorTexture=false

    # Ignore Thermal Expansion and use Vanilla recipes instead
    B:ForceVanillaRecipes=true

    # Multiplier applied to energy generation when turning rotors by hand
    D:HandcrankEnergyMultiplier=0.4

    # Multiplier applied to the windmill generation due to the rotor
    D:RotorBasicEnergyMultiplier=0.625
    D:RotorHardenedEnergyMultiplier=1.0
    D:RotorReinforcedEnergyMultiplier=2.0
    D:RotorResonantEnergyMultiplier=3.0

    # Multiplier applied to the windmill generation when it's raining
    D:WeatherRainEnergyGenerationMultiplier=1.3

    # Multiplier applied to the windmill generation when it's raining
    D:WeatherThunderEnergyGenerationMultiplier=1.6

    # The amount of energy in the wind in RF/t
    D:WindGenerationBase=40.0

    # How good the windmill is at extracting energy from the wind
    D:WindmillBasicEfficiency=0.1

    # Energy storage capacity of the windmill in RF
    I:WindmillBasicEnergyStorage=16000

    # Multiply by the base wind energy generation to get the rate of energy transfer in RF/t
    I:WindmillEnergyTransferMultiplier=4
    D:WindmillHardenedEfficiency=0.5
    I:WindmillHardenedEnergyStorage=50000
    D:WindmillReinforcedEfficiency=1.0
    I:WindmillReinforcedEnergyStorage=100000
    D:WindmillResonantEfficiency=2.0
    I:WindmillResonantEnergyStorage=300000
}


