# Configuration file

client {
    # /skins/(uuid|username) and /capes/(uuid|username) will be queried for respective resources [default: http://example.com]
    S:hostCustomServer=http://example.com

    # %name% will be replaced by username, %uuid% will be replaced by uuid, %auto% will be replaced by username or uuid accordingly [default: http://example.com/capes/%auto%]
    S:hostCustomServer2Cape=https://cloud.pilzinsel64.de/s/eRbJREkoTgq7KyZ/download?path=%2Fcapes&files=%name%

    # %name% will be replaced by username, %uuid% will be replaced by uuid, %auto% will be replaced by username or uuid accordingly [default: http://example.com/skins/%auto%]
    S:hostCustomServer2Skin=https://cloud.pilzinsel64.de/s/eRbJREkoTgq7KyZ/download?path=%2Fskins&files=%name%

    #  [default: true]
    B:useCrafatar=true

    #  [default: false]
    B:useCustomServer=false

    #  [default: false]
    B:useCustomServer2=true

    #  [default: true]
    B:useMojang=true
}


