# Configuration file

general {
    # In der Drahtloskonsole maximal speicherbare Energie in AE [default: 1600000, min: 800000, max:6400000]
    I:ae2wctMaxPower=1600000

    # Wahrscheinlichkeit, dass ein Wither eine unendliche Drahtlosverstärkerkarte dropt (in % - 100=immer)
    I:boosterDropChance=50

    # Enabled Booster Card drops in hard mode (true=enabled) [default: true]
    B:boosterDropsEnabled=true

    # Check for updates [default: true]
    B:doVersionCheck=true

    # Aktiviere den "Einfachen Modus" (Einfachere Rezepte + Rezept für unendlichen Drahtlosverstärker) [default: false]
    B:enableEasyMode=false

    # Erlaube das unendliche Drahtlosverstärkerupgrade [default: true]
    B:enableInfinityBooster=true

    # Enable MineTweaker Override (true=disables all recipes) [default: false]
    B:mineTweakerOverride=false
}


