# Configuration file

default_oregen {
    # Disables the custom ore generation wich is used by some mods. Unfortunally the most mods don't generate ores using this event, so it will be requied for you to disable ore generation in your mod configs. [default: false]
    B:disableCustomOreGen=false

    # Disables the vanilla ore generation for coal ore. [default: false]
    B:disableVanillaOreGenCoal=true

    # Disables the vanilla ore generation for diamond ore. [default: false]
    B:disableVanillaOreGenDiamond=true

    # Disables the vanilla ore generation for dirt within stone. [default: false]
    B:disableVanillaOreGenDirt=true

    # Disables the vanilla ore generation for gold ore. [default: false]
    B:disableVanillaOreGenGold=true

    # Disables the vanilla ore generation for gravel within stone. [default: false]
    B:disableVanillaOreGenGravel=true

    # Disables the vanilla ore generation for iron ore. [default: false]
    B:disableVanillaOreGenIron=true

    # Disables the vanilla ore generation for lapis ore. [default: false]
    B:disableVanillaOreGenLapis=true

    # Disables the vanilla ore generation for quartz ore. [default: false]
    B:disableVanillaOreGenQuartz=false

    # Disables the vanilla ore generation for redstone ore. [default: false]
    B:disableVanillaOreGenRedstone=true
}


general {
}


