# Configuration file

mail {
    # When enabled, Mails will also be sent via CustomNPCs. Only takes affect if `sendMailViaForestry` is enabled. [default: false]
    B:sendMailViaCusotmNPCs=false

    # If enabled, Mails from CustomNPCs will be sent via Forestry.
    # Use this if you prefer Forestry mail system on your server and you wont use two mail systems at the same time. [default: false]
    B:sendMailViaForestry=true
}


