# Configuration file

blocksanditems {
    # Enables some different textured variants of book stands. [default: true]
    B:enableAdditionalBookStands=true
}


tweaks {
    # Enables Intra Linking on newly created linking books by default. [default: true]
    B:enableIntraLinkingByDefault=true

    # Enables the ability to rename Linking Books on a Tool Station from Tinkers Construct. [default: true]
    B:enableRenameOnTinkerToolStation=true
}


