# Configuration file

blocks_and_items {
    # Enables all decoration variants of supported blocks and items. Useful for creating quests and custom NPCs. [default: false]
    B:enableDecoBlocksAndItems=true

    # Enables the Prismarine Shards, Raw Crystals and Crystals. [default: true]
    B:enablePrismarine=true

    # Enables the Redstone Flower and Seeds. [default: true]
    B:enableRedstoneFlower=true
}


experimental {
    # When "disableChunkLoadingOnRequest" is true then this option helps that chunk load tickets continue to load the target chunk automatically. Otherwise such tickets are useless and chunkloaders too. You may want to disable this if your Chunkloader mod can that too (probably not). [default: true]
    B:autoLoadChunksOnTicketCreation=true

    # Disables the option "loadChunkOnProvideRequest" on server to not load chunks whenever they are maybe requested. This is very experimental. [default: false]
    B:disableChunkLoadingOnRequest=true
}


general {
    # Disables all recipes if true. Useful for making custom recipes. [default: false]
    B:disableAllRecipes=false
}


mod_integration {
    # Overwrites Forestrys method to get the players user profile and always return a offline UUID. Only enable this, if your server runs in offline mode. [default: false]
    B:forestryMailFixOfflineUUDID=true

    # If enabled, a few known mod items and blocks get reigsted at the Ore Dictionary."searchForModBlocksAndItems" needs to be true. [default: true]
    B:registerModOres=true

    # If disabled, the most mod integrations will not work. Only disable, if you announce an error while that get fixed when off. [default: true]
    B:searchForModBlocksAndItems=true
}


spawnlightlevel {
    # Defines a list of dimension IDs where the config "spawnLightLevelModificationEnable" should NOT take effect. By default, this is the Nether and The End. Extend with your own dimensions if needed. [default: [-1], [1]]
    S:spawnLightLevelModificationDimensionBlackList <
        -1
        1,
        -100,
        -42,
        -19
     >

    # If enabled, the required light level where hostile mobs do spawn will be adjusted to "spawnLightLevelModificationValue". This config were initially intended to reduce the required light level to 0, like in Minecraft 1.18+. [default: false]
    B:spawnLightLevelModificationEnable=true

    # Defines the required light level where hostile mobs should spawn. Requires "spawnLightLevelModificationEnable" to be true to take effect. This probably don't work if you want to increase the light level (yet). [range: -2147483648 ~ 2147483647, default: 0]
    I:spawnLightLevelModificationValue=0
}


