# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=6755adfe-9aee-4ce3-91c9-ed814f7a269a

    # Set to true to disable all reporting
    B:opt-out=false
}


