# Configuration file

questing {
    # Client sided! Determines where tracking quest info shows up on the screen based on a number from 0 to 8. Default: 3
    I:"Tracking Info Alignment"=3

    # Client sided! Offsets the tracking info GUI by this amount in the X direction.
    I:"Tracking Info X"=0

    # Client sided! Offsets the tracking info GUI by this amount in the Y direction.
    I:"Tracking Info Y"=0
}


visual {
    # Enable/Disable Chat Bubbles
    B:"Enable Chat Bubbles"=true

    # Enable/Disable Inventory Tabs
    B:"Enable Inventory Tabs"=true

    # Font size for custom fonts (doesn't work with minecrafts font)
    I:"Font Size"=18

    # When set to Minecraft it will use minecrafts font, when Default it will use OpenSans. Can only use fonts installed on your PC
    S:"Font Type"=Minecraft
}


