# Configuration file

"scripting customization" {
    # Comma separated list of classes that cannot be used in scripts through Java.for().
    # Classes must be fully written out with library names preceding them.
    # This is a feature ONLY AVAILABLE ON NASHORN.
    S:"Banned Classes"=java.net.URL,java.net.URI

    # Enables/Disables the use of the the ECMA6 Javascript standard instead of ECMA5.1.
    # Enabling this adds many more features to JS in scripts. Only use if on Java 8 or higher.
    # Not all ECMA 6 language is supported through this functionality.
    B:"ECMA6 Scripting Language"=true

    # Enables the Banned Classes Functionality
    B:"Enable Banned Classes"=false

    # Comma separated list of player UUIDs that can see and edit scripts. If ScriptsOpsOnly is true,
    # ops and players with these IDs can see and edit scripts. Example:
    # b876ec32-e396-476b-a115-8438d83c67d4,069a79f4-44e9-4726-a5be-fca90e38aaf5,be951074-c7ea-4f02-a725-bf017bc88650
    # Get a player's UUID from a site like NameMC or the API IPlayer.getUniqueID() function!
    # If left empty and ScriptsOpsOnly is false, anyone can see and edit scripts with a scripter.
    S:"Script Dev UUIDs"=

    # If scripts are too long (>65535 characters), they normally won't be saved in NBT data.
    # This config adds additional compound tags to scripts that need it, so you can store much larger scripts!
    # Every additional compound tag adds 65535 more characters to your script length limit. Use incrementally, with caution.
    I:"Script Tag Limit"=2
}


"scripting general" {
    # Enables global forge event scripts to be used in the scripter. You can still see and write code in the scripter, but these scripts won't run. True by default.
    B:"Enable Global Forge Event Scripts"=true

    # Enables global NPC scripts to be used in the scripter. You can still see and write code in the scripter, but these scripts won't run. False by default, use with caution!
    B:"Enable Global NPC Scripts"=false

    # Enables global player event scripts to be used in the scripter. You can still see and write code in the scripter, but these scripts won't run. True by default.
    B:"Enable Global Player Scripts"=true

    # Enables/Disables ALL scripting. You can still see and write code in the scripter, but these scripts won't run. True by default
    B:"Enable Scripting"=true

    # Only ops can see and edit scripts
    B:"OPs Only"=true
}


