# Configuration file

general {
    # When "disableChunkLoadingOnRequest" is true then this option helps that chunk load tickets continue to load the target chunk automatically. Otherwise such tickets are useless and chunkloaders too. You may want to disable this if your Chunkloader mod can that too (probably not). [default: true]
    B:autoLoadChunksOnTicketCreation=true

    # Automatically unload dimensions if there is no chunk loaded. [default: true]
    B:autoUnloadDimensions=true

    # Ticks before a dimension should be unloaded when it hasn't any chunk loaded. Only has affect if "autoLoadChunksOnTicketCreation" is active. [default: [1], [-1]]
    S:autoUnloadDimensionsBlacklist <
        1
        -1
     >

    # Tread "autoUnloadDimensionsBlacklist" as whitelist. [default: false]
    B:autoUnloadDimensionsBlacklistAsWhitelist=false

    # Disables the option "loadChunkOnProvideRequest" on server to not load chunks whenever they are maybe requested. [default: true]
    B:disableChunkLoadingOnRequest=true

    # Ticks before a chunk should be unloaded after a chunkload ticket as been removed. Only has affect if "autoLoadChunksOnTicketCreation" is active. [range: -2147483648 ~ 2147483647, default: 20]
    I:ticksBeforeLoadChunk=20

    # Ticks before a dimension should be unloaded when it hasn't any chunk loaded. Only has affect if "autoLoadChunksOnTicketCreation" is active. [range: -2147483648 ~ 2147483647, default: 1200]
    I:ticksBeforeUnloadDimension=1200
}


