# Configuration file

general {
    B:"Disable Enchants"=false
    B:"Disable Extra Blocks"=false
    B:"Disable Extra Items"=false
    B:"Enables Update Checker"=false

    # Start ID for enchants. IDs can only range from 0-256
    I:"Enchant Start ID"=100

    # Set to false if you want to disable guns
    B:"Guns Enabled"=true
    B:"Ice Melt Enabled"=true
    B:"Leaves Decay Enabled"=true
    B:"Normal playes can use soulstone on Animals"=true
    B:"Normal playes can use soulstone on Friendly NPCs"=false
    B:"Normal playes can use soulstone on NPCs"=false
    B:"Normal playes can use soulstone on Villagers"=true
    B:"Vine Growth Enabled"=true
}


npc {
    # Number of chunk loading npcs that can be active at the same time
    I:"Chunk Loader Limit"=20

    # Default interact line. Leave empty to not have one
    S:"Default Interaction Line"=Hallo @p

    # The maximum number of images any dialog can hold.
    I:"Dialog Image Limit"=10

    # Navigation search range for NPCs. Not recommended to increase if you have a slow pc or on a server. Minimum of 16, maximum of 96.
    I:"NPC Navigation Range"=32

    # Size limit for NPCs. Default 100, larger sizes may cause lag on clients and servers that can't take it!
    I:"NPC Size Limit"=100

    # Set to true if you want the dialog command option to be able to use op commands like tp etc
    B:"NPC Use Op Commands"=true

    # Only ops can create and edit npcs
    B:"Only Ops Edit NPCs"=false

    # The maximum number of overlays any npc/player can hold.
    I:"Skin Overlay Limit"=10
}


