# Configuration file

~CONFIG_VERSION: 1.0.0

enablefluid {
    # Enables Ethanol fluid. [default: true]
    B:bioethanol=true

    # Enables Biomasse fluid. [default: true]
    B:biomass=true

    # Enables Honig fluid. [default: true]
    B:for.honey=true

    # Enables Flüssigglas fluid. [default: true]
    B:glass=true

    # Enables Honey fluid. [default: true]
    B:honey=true

    # Enables Zerstoßenes Eis fluid. [default: true]
    B:ice=true

    # Enables Fruchtsaft fluid. [default: true]
    B:juice=true

    # Enables Met fluid. [default: true]
    B:mead=true

    # Enables Milch fluid. [default: true]
    B:milk=true

    # Enables Samenkernöl fluid. [default: true]
    B:seedoil=true

    # Enables Dünner Met fluid. [default: true]
    B:short.mead=true
}


enablefluidblock {
    # Enables Ethanol in-world fluid block. [default: true]
    B:bioethanol=true

    # Enables Biomasse in-world fluid block. [default: true]
    B:biomass=true

    # Enables Honig in-world fluid block. [default: true]
    B:for.honey=true

    # Enables Flüssigglas in-world fluid block. [default: true]
    B:glass=true

    # Enables Honey in-world fluid block. [default: true]
    B:honey=true

    # Enables Zerstoßenes Eis in-world fluid block. [default: true]
    B:ice=true

    # Enables Fruchtsaft in-world fluid block. [default: true]
    B:juice=true

    # Enables Met in-world fluid block. [default: true]
    B:mead=true

    # Enables Milch in-world fluid block. [default: true]
    B:milk=true

    # Enables Samenkernöl in-world fluid block. [default: true]
    B:seedoil=true

    # Enables Dünner Met in-world fluid block. [default: true]
    B:short.mead=true
}


