# Configuration file

##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Disabling these modules can greatly change how the mod functions.
# Your mileage may vary, please report any issues.
##########################################################################################################

modules {
    # Kompatibilitätsplugin für AgriCraft.
    B:agricraft=true

    # Beinhaltet Bienen, Bienenzucht und Bienenprodukte. Beeinflust Weltgenerierung.
    B:apiculture=true

    # Beinhaltet zusätzliche Baumspezies und ihre Produkte.
    B:arboriculture=true

    # Kompatibilitätsplugin für Biomes O' Plenty. Erlaubt BoP-Setzlinge in Farmen.
    B:biomesoplenty=true

    # Kompatibilitätsplugin für BuildCraft 6.
    B:buildcraft.fuels=true

    # Kompatibilitätsplugin für BuildCraft 6.
    B:buildcraft.recipes=true

    # Kompatibilitätsplugin für BuildCraft 6.
    B:buildcraft.statements=true

    # Kompatibilitätsplugin für BuildCraft 6.
    B:buildcraft.transport=true

    # Kompatibilitätsplugin für Chisel. Erlaubt das Lagern der generierten Blöcke in Rucksäcken.
    B:chisel=true

    # Kompatibilitätsplugin für EnderIO.
    B:enderio=true

    # Beinhaltet verschiedene RF-Motoren.
    B:energy=true

    # Kompatibilitätsplugin für Erebus.
    B:erebus=true

    # Kompatibilitätsplugin für Extra Utilities. Erlaubt Enderlilien in Farmen.
    B:extrautilities=true

    # Beinhaltet unterschiedliche Maschinen zur Fertigung, Herstellung und Verarbeitung von Produkten.
    B:factory=true

    # Beinhaltet automatisches Farmen und Ernten einer Vielzahl von Produkten.
    B:farming=true

    # Beinhaltet Nahrungsmittel.
    B:food=true

    # Kompatibilitätsplugin für GrowthCraft.
    B:growthcraft=true

    # Kompatibilitätsplugin für HarvestCraft. Erlaubt Pflanzen und Bäume von HarvestCraft in Farmen.
    B:harvestcraft=true

    # Kompatibilitätsplugin für Immersive Engineering.
    B:immersiveengineering=true

    # Kompatibilitätsplugin für IC2. Beinhaltet den Elektromotor und Generator für Energieumwandlung.
    B:industrialcraft=true

    # Schmetterlinge. Schick.
    B:lepidopterology=true

    # Kompatibilitätsplugin für Magical Crops.
    B:magicalcrops=true

    # Beinhaltet Forestry's Post- und Handelssystem.
    B:mail=true

    # Kompatibilitätsplugin für MineFactoryReloaded
    B:minefactoryreloaded=true

    # Kompatibilitätsplugin für Natura. Erlaubt Natura-Setzlinge in Farmen.
    B:natura=true

    # Kompatibilitätsplugin für Plant Mega Pack.
    B:plantmegapack=true

    # Kompatibilitätsplugin für RotaryCraft.
    B:rotarycraft=true

    # Beinhaltet Rucksäcke und Kisten.
    B:storage=true

    # Kompatibilitätsplugin für Witchery.
    B:witchery=true
}


